@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
/*
.html{
    margin: 0%;
    padding: 0%;
}
body{
    
    padding: 0%;
    margin: 0%;
    background-color: #1e1e1e;
}
*/
body{
    background-color: #1e1e1e;
}
.topnav{
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
}
.topnav .down{
    background-color: white;
    border: none;
    outline: none;
}

.topnav .down a{
    font-size: 20px;
    font-family: 'JetBrains Mono';
    font-weight: 900;
    text-decoration: underline;
    color: black;
}
.topnav p{
    font-size: 20px;
    font-family: 'JetBrains Mono';
    font-weight: 900;
    margin-top: 0%;
    float: right;
}
.links{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.links a{
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    font-family: 'JetBrains Mono';
    font-size: 70px;
    color: white;
}
.links img{
    width: 10%;
}
h1{
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    font-family: 'JetBrains Mono';
    font-size: 70px;
    color: white;
}

@media all and (max-width: 900px) {
    .links img{
        display: none;
    }
    .links{
        margin-top: 50px;
    }
    .links #red{
        color: orangered;
    }
    .links #git{
        color: black;
    }

}
