@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
html{
    height: 100%;
}
body{
    
    height: 100%;
    margin: 0;
    background-color: #1e1e1e;   
}

.topnav{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.topnav button{
    background-color: white;
    border: none;
    outline: none;
    
}
.topnav .ho{
    color: black;
    font-family: 'JetBrains Mono';
    list-style: none;
    font-size: 20px;
    font-weight: 900;
}
.topnav .c{
    color: black;
    font-family: 'JetBrains Mono';
    list-style: none;
    font-size: 20px;
    font-weight: 900;
    padding-right: 5px;
}
.topnav .ab{
    color: black;
    font-family: 'JetBrains Mono';
    list-style: none;
    font-size: 20px;
    font-weight: 900;
    padding-right: 0px;
}

.topnav p{
    padding-top: 5px;
    margin-top: 0%;
    float: right;
    font-family: 'JetBrains Mono';
    font-weight: 900;
}

.center h1{
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 70px;
    color: white;
    margin-top: 200px;
}
.center h2{
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 70px;
    color: white;
}

.drop{
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    background-color: white;
    position: absolute;
    top: 50px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
}
.drop a{
    color: black;
    font-family: 'JetBrains Mono';
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    
}
.drop p{
    font-size: 7px;
}
.hide{
    display: none;
}
#btn{
    margin: 0 auto;
    display: block;
    font-family: 'JetBrains Mono';
    background-color: white;
    color: black;
    outline: none;
    border: none;
    font-weight: 900;
    border-radius: 10px;
    padding: 10px 20px;
}
@media all and (max-width: 550px){
    .center h1{
        margin: 60px;
        text-align: center;
        font-family: 'JetBrains Mono';
        font-size: 60px;
        color: white;
        
    }    
    .topnav .ab{
        display: none;
    }
    .topnav .c{
        display: none;
    }
    .topnav .ho{
        text-decoration: overline;
    }
 
    .center h2{
        font-size: 60px;
    }
    
}
